<!-- Banner -->
<section id="banner" class="major">
  <div class="inner">
      <header class="major">
          <h1>St. Xavier’s College (Calcutta) Alumni Association Directory</h1>
      </header>
      <div class="content">
          <p>This is a curated directory of SXCAA members designed to develop a network of professional individuals.</p>
          <ul class="actions">
              <li><a href="/directory" class="button next">View Directory</a></li>
          </ul>
      </div>
  </div>
</section>

